h1 {
  color: #7c89bf;
  font style: verdana;
}
body
{
  background-color: #beb8e6
}
nav {
  list-style-type: none;
  background-color: #5d65a3;
  width: 150%;
  overflow: show;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  font-family: Helvetica; 
  font-weight: bold; 
}

.navli {
  float: right;

}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: #fce1d7;
  color: #5d65a3;
}
