body { 
background-color: #eae8fa
; 
}
nav {
  list-style-type: none;
  background-color: #ddc5f0;

  width: 150%;
  overflow: show;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  font-family: cursive; 
  font-weight: fine; 
}

.navli {
  float: right;

}

li a {
  display: block;
  color:#8cbd96;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: #8cbd96;
  color: antiquewhite;
}
#text { 
color: #edc2a4; 
}
div {
  background-color: #b0bed1; 
  border: dotted 1px white; 
  border-radius: 10px; 
}
#first { 
background-color: #9fcca9; 
padding: 20px;
width: 25%; 
text-align: center; 
  
}
#pic { 
display: flex; 
background-color: #8cbd96; 
padding: 20px; 
width: 25%;
}

.wrapper {
  width: 100%; 
  display: flex;
  position: absolute;
  justify-content: space-evenly;
}
#second {
background-color: #9fcca9; 
padding: 20px;
width: 25%; 
text-align: center
}
#third { 
background-color: #9fcca9; 
padding: 20px;
width: 25%; 
text-align: center
}

.container {
  display: grid; 
  height: 90vh; 
  grid-template: 
    "A " auto
    "D E F"; 
  grid-row-gap: 4%;
  grid-column-gap: 0%; 
  
}

.A { 
grid-row: 1/1; 
grid-column: 1/4; 
font-size: 30px; 
background-color: #5a6685;
font-family: cursive; 
}
.D { 

}
@media only screen and (max-width: 1024px) { 
  .wrapper { 
  flex-direction: column; 
  }
  .container { 
  flex-direction: column; 
    grid-template: 
    "A " auto
    "D " 
    "E"
    "F"; 
  }

}
