nav {
  list-style-type: none;
  background-color: #5d65a3;
  width: 150%;
  overflow: show;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  font-family: Helvetica; 
  font-weight: bold; 
}

.navli {
  float: right;

}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: #fce1d7;
  color: #5d65a3;
}
body { 
background-color: #f4e8fa; 
}
table, tr, th, td {
  border: line #499e67 2px;
}

td, th {
  text-align: center;
  padding: 20px;
}
th {
  background-color: #592b58;
  color: #f0dde7; 
}
td {
  background-color: #f0dde7; 
  color: #592b58; 
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 24%;
  
}
.myDiv {
  border: 5px outset Pink;
  background-color: ;
  float: right;
}
.myDiv2 {
  border: 5px outset #fad184;
  background-color: ;
  float: left;
}
.myDiv3 {
  border: 5px outset #fad184;
  display: inline-block;
  background-color: ;
  float: center;
  font-color: #592b58; 
} 
.myDiv4 {
  border: 5px outset Pink;
  display: inline-block;
  background-color: ;
  float: left;
  font-color: #592b58;
} 
.myDiv5 {
  border: 5px outset Pink;
  display: inline-block;
  background-color: ;
  float: right;
  font-color: #592b58;
} 
