body { 
background-color: #d6e2ff
; 
}
nav {
  list-style-type: none;
  background-color: #a2baf2;

  width: 150%;
  overflow: show;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  font-family: cursive; 
  font-weight: fine; 
}

.navli {
  float: right;

}

li a {
  display: block;
  color:#4b75d6;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: #4b75d6;
  color:  #a2baf2;
}
#text { 
color: #edc2a4; 
}

h4 {
  font-size: 30px; 
  display: block; 
 color:#1a326b; 
}

.wrapper {
  width: 100%; 
  display: flex;
  position: absolute;
  justify-content: space-evenly;
}

#first { 
background-color: #071840; 
padding: 20px;
width: 25%; 
text-align: center;
border: dashed white; 
color: white; 
} 

#second { 
background-color: #071840; 
padding: 20px;
width: 25%; 
text-align: center; 
border: dashed white; 
color: white; 
} 

#third { 
background-color: #071840; 
padding: 20px;
width: 25%; 
text-align: center; 
border: dashed white; 
color: white; 
} 
.container {
  width: 100%; 
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  } 

#fourth { 
background-color: #071840; 
padding: 20px;
width: 25%; 
text-align: center;
border: dashed white; 
color: white; 
} 

#fifth { 
background-color: #071840; 
padding: 20px;
width: 25%; 
text-align: center;
border: dashed white; 
color: white; 
} 
#sixth { 
background-color: #071840; 
padding: 20px;
width: 25%; 
text-align: center;
border: dashed white; 
color: white; 
} 
@media only screen and (max-width: 1024px) { 
  .wrapper { 
  flex-direction: column; 
   width: 500%; 
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  }
  
  .container { 
 flex-direction: column; 
   width: 500%; 
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  }

}
